[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = {version = "*", markers = "sys_platform == 'linux' or sys_platform == 'win32'"}
scikit-learn = "*"
numpy = "*"
pandas = "*"
jupyter-server = "*"
notebook-shim = "*"
httpx = "*"
async-lru = "*"
nbdime = "*"
ipykernel = "*"
seaborn = "*"
ffmpeg-python = "*"
opencv-python = "*"
torch = "*"
torchvision = "*"
tensorflow-macos = {version = "*", markers = "sys_platform == 'darwin'"}
plotly = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.8"
