[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = {version = "*", markers = "sys_platform == 'linux' or sys_platform == 'win32'"}
scikit-learn = "*"
numpy = "*"
pandas = "*"
jupyter-server = "*"
notebook-shim = "*"
httpx = "*"
async-lru = "*"
nbdime = "*"
ipykernel = "*"
seaborn = "*"
ffmpeg-python = "*"
opencv-python = "*"
torchvision = "*"
tensorflow-macos = {version = "*", markers = "sys_platform == 'darwin'"}
ultralytics = "*"
scikit-image = "*"
matplotlib = "*"
av = "*"
transformers = "*"
torch = "*"
ray = {extras = ["serve", "train", "tune", "data"], version = "*"}

[dev-packages]
tqdm = "*"
torch-tb-profiler = "*"

[requires]
python_version = "3.11"
